<h1> AWS Bucket/Redshift Testing </h1>

<h2> Import Libraries</h2>

In [107]:
import pandas as pd
import boto3
import json
import configparser
import time
import pprint

<h2> Connect to AWS </h2>

In [108]:
config = configparser.ConfigParser()
try:
    config.read_file(open('vpaws.cfg'))
except:
    config.read_file(open('dwh.cfg'))


KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")
DWH_PORT               = config.get("DWH","DWH_PORT")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_ENDPOINT      = config.get("DWH", "DWH_ENDPOINT")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

ec2 = boto3.resource('ec2',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-east-1'
                  )

redshift = boto3.client('redshift',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

<h2> Song/Log Data </h2>

In [109]:
# Call the Bucket
bucket=s3.Bucket('udacity-dend')

<h3> Song Data </h3>

In [110]:
song_data_files = [filename.key for filename in bucket.objects.filter(Prefix='song-data/A/A')]
song_data_files[:5]

['song-data/A/A/A/TRAAAAK128F9318786.json',
 'song-data/A/A/A/TRAAAAV128F421A322.json',
 'song-data/A/A/A/TRAAABD128F429CF47.json',
 'song-data/A/A/A/TRAAACN128F9355673.json',
 'song-data/A/A/A/TRAAAEA128F935A30D.json']

In [111]:
s3.Bucket('udacity-dend').download_file(song_data_files[0], 'song_data_file_tst.json')
with open('song_data_file_tst.json') as json_file:
    data = json.load(json_file)
pp = pprint.PrettyPrinter(indent=4)
pp.pprint(data)

{   'artist_id': 'ARJNIUY12298900C91',
    'artist_latitude': None,
    'artist_location': '',
    'artist_longitude': None,
    'artist_name': 'Adelitas Way',
    'duration': 213.9424,
    'num_songs': 1,
    'song_id': 'SOBLFFE12AF72AA5BA',
    'title': 'Scream',
    'year': 2009}

<h3> Log Data </h3>

In [112]:
log_data_files = [filename.key for filename in bucket.objects.filter(Prefix='log-data')]
log_data_files[:5]

['log-data/',
 'log-data/2018/11/2018-11-01-events.json',
 'log-data/2018/11/2018-11-02-events.json',
 'log-data/2018/11/2018-11-03-events.json',
 'log-data/2018/11/2018-11-04-events.json']

In [113]:
s3.Bucket('udacity-dend').download_file('log-data/2018/11/2018-11-04-events.json', 'log_data_file_tst.txt')
num_list = []
with open('log_data_file_tst.txt', 'r') as fh:
    for line in fh:
        num_list.append(line)
data = json.loads(num_list[0])
pp.pprint(data)

{   'artist': None,
    'auth': 'Logged In',
    'firstName': 'Theodore',
    'gender': 'M',
    'itemInSession': 0,
    'lastName': 'Smith',
    'length': None,
    'level': 'free',
    'location': 'Houston-The Woodlands-Sugar Land, TX',
    'method': 'GET',
    'page': 'Home',
    'registration': 1540306145796.0,
    'sessionId': 154,
    'song': None,
    'status': 200,
    'ts': 1541290555796,
    'userAgent': 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 '
                 'Firefox/31.0',
    'userId': '52'}

<h2> Check Table Creation </h2>

Use these functions after running the create_tables.py to ensure all tables were created successfully.  The output should read "1 rows affected."  If this appears the table was created successfully.

In [114]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [116]:
import os 
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
%sql $conn_string

'Connected: dwhuser@dwh'

<h3> Check the Event Log Staging Table. </h3>

In [117]:
%%sql
stage_event << select count(*) as stage_event from staging_events

 * postgresql://dwhuser:***@dwhcluster.ctwmtmntuwnu.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable stage_event

<h3> Check the Songs Staging Table </h3>

In [118]:
%%sql
stage_songs << select count(*) as stage_songs from staging_songs

 * postgresql://dwhuser:***@dwhcluster.ctwmtmntuwnu.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable stage_songs

<h3> Check the User Dimension Table </h3>

In [119]:
%%sql
users_table << select count(*) as users_table from user_dim

 * postgresql://dwhuser:***@dwhcluster.ctwmtmntuwnu.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable users_table

<h3> Check the Song Dimension Table </h3>

In [120]:
%%sql
song_table << select count(*) as song_table from song_dim

 * postgresql://dwhuser:***@dwhcluster.ctwmtmntuwnu.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable song_table

<h3> Check the Artist Dimension Table </h3>

In [121]:
%%sql
artist_table << select count(*) as artist_table from artist_dim

 * postgresql://dwhuser:***@dwhcluster.ctwmtmntuwnu.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable artist_table

<h3> Check the Time Dimension Table </h3>

In [143]:
%%sql
time_table << select count(*) as time_table from time_dim

 * postgresql://dwhuser:***@dwhcluster.ctwmtmntuwnu.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable time_table

<h3> Check the Songplay Fact Table </h3>

In [144]:
%%sql
songplay_table << select count(*) as sonplay_table from songplay_fact

 * postgresql://dwhuser:***@dwhcluster.ctwmtmntuwnu.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable songplay_table

<h2> Check Data Insertion into tables</h2>

The output of the stored variable should provide a number greater than zero.  If the numer is zero of the variable is empty then data was not inserted correctly into the table.

<h3> Check the Event/Log Staging Table </h3>

In [124]:
%%sql
stage_event << select count(*) as stage_event from staging_events

 * postgresql://dwhuser:***@dwhcluster.ctwmtmntuwnu.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable stage_event

In [123]:
stage_event

[(8056,)]

<h3> Check the Song Staging Table </h3>

In [126]:
%%sql
stage_songs << select count(*) as stage_songs from staging_songs

 * postgresql://dwhuser:***@dwhcluster.ctwmtmntuwnu.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable stage_songs

In [127]:
stage_songs

[(14896,)]

<h3> Check the User Table </h3>

In [129]:
%%sql
count_user << select count(*) as total_user from user_dim

 * postgresql://dwhuser:***@dwhcluster.ctwmtmntuwnu.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable count_user

In [130]:
count_user

[(105,)]

<h3> Check the Song Table </h3>

In [131]:
%%sql
count_song << select count(*) as total_song from song_dim

 * postgresql://dwhuser:***@dwhcluster.ctwmtmntuwnu.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable count_song

In [132]:
count_song

[(14896,)]

<h3> Check the Artist Table </h3>

In [133]:

%%sql
count_artist << select count(*) as total_artist from artist_dim

 * postgresql://dwhuser:***@dwhcluster.ctwmtmntuwnu.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable count_artist

In [134]:
count_artist

[(10025,)]

<h3> Check the Time Table </h3>

In [135]:
%%sql
count_time << select count(*) as total_time from time_dim

 * postgresql://dwhuser:***@dwhcluster.ctwmtmntuwnu.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable count_time

In [136]:
count_time

[(8023,)]

<h3> Check the Songplay Table </h3>

In [137]:
%%sql
count_songplay << select count(*) as total_songplay from songplay_fact

 * postgresql://dwhuser:***@dwhcluster.ctwmtmntuwnu.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable count_songplay

In [138]:
count_songplay

[(326,)]